* {
	box-sizing: border-box;

}


*, *:before, *:after {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
}


html {
  box-sizing: border-box;
}

body {
	font-family: 'Abel', sans-serif;
	color: grey;
	width: 100%;
	margin: 0 auto;
	padding: 0;
}



.wrapper {
	width: 100%;
	height: 100%;
	margin: 0 auto;
}




.bar {
  display: flex;
  align-items: center;
  width: 100%;
  background: #eee;
  padding: 20px;
}




ul {
	list-style-type: none;

}

ul li {
	display: inline-block;
	font-size: 14px;
	text-transform: uppercase;
	padding-right: 15px;

}





html {
   height: 100%;
}

.login {
/* Remember to use the other versions for IE 10 and older browsers! */
display: flex;
justify-content: center;
align-items: center;
min-height: 100%;
color: #fff;

}

.container {
  border-radius: 5px;
  margin: 20px auto;
/*  box-shadow: 0 1.5px 0 0 rgba(0,0,0,0.1);
*/  width:450px;
  display: flex;  
  flex-direction: column;
}

.logo{
  font-size:20px;
  text-align: center;
  color: grey;
  padding: 20px 20px 0;
  margin:0;
}

.login-item {
	color: #ffff;
	padding:25px 25px 0;
	margin: 20px 20px 0;	
	border-radius: 3px;
}

input {
  border: 0;
  color: inherit;
  font: inherit;
  margin: 0;
  outline: 0;
  padding: 0;
  -webkit-transition: background-color .3s;
  transition: all .3s;
}

.user:before {
  content: '\f007';
  font: 14px fontawesome;
	color: #5b5b5b;
}

.lock:before {
  content: '\f023';
  font: 14px fontawesome;
	color: #5b5b5b;
}

.form input[type="password"], .form input[type="text"], .form input[type="submit"] {
  width: 100%;
}

.form-login label,
.form-login input[type="text"],
.form-login input[type="password"],
.form-login input[type="submit"] {
  border-radius: 0.25rem;
  padding: 1rem;
  color: #3A3F44;  
}

.form-login label {
  background-color: white;
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
}

.form-login input[type="text"], .form-login input[type="password"] {
  background-color: #ffffff;
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
}
.form-login input[type="text"]:focus, .form-login input[type="text"]:hover, .form-login input[type="password"]:focus, .form-login input[type="password"]:hover {
  background-color: #eeeeee;
}
.form-login input[type="submit"] {
  background-color: #b3adad;
  color: white;
  font-weight: bold;
  text-transform: uppercase;
}
.form-login input[type="submit"]:focus, .form-login input[type="submit"]:hover {
  background-color:  #b3adad;
  opacity: 1;
}
.form-field {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 2rem;
}


.hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.text--center {
  text-align: center;
}


.blur{
  -webkit-filter: blur(5px); /* Chrome, Safari, Opera */
  filter: blur(5px);
}


.navbar {
  border-bottom: 1px solid rgba(128, 128, 128, 0.15);
}
.navbar .toggle, .navbar .brand {
  display: inline-block;
}
.navbar .link {
  display: block;
  width: 100%;
  text-align: center;
  padding: 10px;
  text-decoration: none;
  color: grey;
  -webkit-transition: all 0.3s;
  /* Safari */
  transition: all 0.3s;
  text-transform: uppercase;
}
.navbar .link:hover, .navbar .link:active {
  background: lightgrey;
  color: white;
}
.navbar .brand {
  width: 10em;
  text-align: center;
  font-family: 'Abel', sans-serif;
  font-size: 22px;
  padding: 6px;
  letter-spacing: 6px;
  color: grey;
  text-transform: uppercase;
  text-decoration: none;
}
.navbar .toggle {
  padding: 1em;
  color: black;
  vertical-align: middle;
}

@media (min-width: 48em) {
  .navbar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .navbar .left, .navbar .right {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
  .navbar .link {
    width: auto;
    margin-right: 15px;
    font-size: 18px;
    padding-top: 9px;
  }
  .navbar .right {
    margin-right: 15px;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  .navbar .toggle {
    display: none;
  }
}
.navbar div {
}
@media (min-width: 48em) {
  .navbar div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media (max-width: 48em) {
  .navbar.active .toggle {
    background: seagreen;
    color: white;
  }
  .navbar.active div {
    display: block;
  }
}


.col-lg-12 {
  width: 100%;
  padding: 15px;
}

.headline {
  text-align: center;
  font-size: 66px;
  color: grey;
  opacity: 0.6;
  text-align: left;
}

.splash-img-col{
  text-align: right;
  padding-right: 20px;
}

.flex-grid {
  display: flex;
  padding-top: 60px;
}
.col {
  flex: 1;
}


@media (max-width: 400px) {
  .flex-grid {
    display: block;
  }
}

.about-splash-container{
  padding-top: 15px;
  border-top: 1px solid rgba(128, 128, 128, 0.15);
  margin-top: 10px;
  width: 80%;
}

.splash-link {
  padding: 15px;
  text-decoration: none;
  margin-top: 15px;
  background-color: grey;
  color: white;
  text-transform: uppercase;
}

.small-p{
  margin-bottom: 35px;
}



.form-signup input[type="text"]:focus, .form-login input[type="text"]:hover, .form-login input[type="password"]:focus, .form-login input[type="password"]:hover {
background-color: white;
border-bottom: 1px solid #eeeeee;
}



.form-signup input {
 border-bottom: 1px solid #eeeeee;
}
.form-signup > .form-field > label:before {
  color: black;
  font-size: 0px;
}

.form-signup > .form-field > label {
  color: grey;
}























form {

  -webkit-animation: moveDown .3s;
  -moz-animation: moveDown .3s;
  animation: moveDown .3s;
  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

@-webkit-keyframes moveDown {
  0% {
    -webkit-transform: translate(0, -10%);
    opacity: 0;
  }
  100% {
    -webkit-transform: translate(0, 0);
    opacity: 1;
  }
}
@-moz-keyframes moveDown {
  0% {
    -moz-transform: translate(0, -10%);
    opacity: 0;
  }
  100% {
    -moz-transform: translate(0, 0);
    opacity: 1;
  }
}
@keyframes moveDown {
  0% {
    transform: translate(0, -10%);
    opacity: 0;
  }
  100% {
    transform: translate(0, 0);
    opacity: 1;
  }
}
input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px white inset;
}

input {
  color: #444;
  font-size: 1.5em;
  outline: none;
  box-shadow: none;
  -webkit-appearance: none;
  border-radius: 0;
  border-top: none;
  border-bottom: solid 1px;
  border-color: #bbb;
  background: transparent;
  display: block;
  height: 2em;
  width: 12em;
  margin-bottom: 5%;
  padding: 0 3%;
  position: relative;
  z-index: 0;
  -webkit-transition: border .25s;
  -moz-transition: border .25s;
  -o-transition: border .25s;
  transition: border .25s;
}

input:focus {
  color: #111;
  border-color: #444;
}

#password {
  width: 10.5em;
  padding-right: 1.85em;
}

.input, #passwordMeter {
  speak: none;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  display: block;
  position: relative;
  width: .25em;
  height: 3em;
  background: #fff;
  margin: 0% 0 -2em;
  z-index: 1;
}

.input:after, #passwordMeter:after {
  content: '';
  width: 1em;
  height: 100%;
  position: absolute;
  right: -19.5em;
  background: #fff;
}

.placeholder {
  color: #999;
  -webkit-transition: color .2s;
  -moz-transition: color .2s;
  -o-transition: color .2s;
  transition: color .2s;
}

::-webkit-input-placeholder {
  color: #999;
  -webkit-transition: color .2s;
  -moz-transition: color .2s;
  -o-transition: color .2s;
  transition: color .2s;
}

:-moz-placeholder {
  color: #999;
  -webkit-transition: color .2s;
  -moz-transition: color .2s;
  -o-transition: color .2s;
  transition: color .2s;
}

:-ms-input-placeholder {
  color: #999;
  -webkit-transition: color .2s;
  -moz-transition: color .2s;
  -o-transition: color .2s;
  transition: color .2s;
}

.placeholder:focus {
  color: #ddd;
}

input:focus::-webkit-input-placeholder {
  color: #ddd;
}

input:focus::-moz-input-placeholder {
  color: #ddd;
}

input:focus::-ms-input-placeholder {
  color: #ddd;
}

.error {
  border-color: #E35F5F;
  color: #E35F5F;
}

.error + button {
  margin-bottom: 2em;
}

#passwordMeter:before {
  content: '';
  height: 1px;
  position: absolute;
  bottom: -17px;
  left: 0;
  -webkit-transition: width .3s;
  -moz-transition: width .3s;
  -o-transition: width .3s;
  transition: width .3s;
}

#passwordMeter.blur:before {
  width: 0 !important;
}

.weak:focus {
  border-left-color: #E35F5F;
}

#passwordMeter.weak:before {
  background: #E35F5F;
  width: 3.8em;
}

.good:focus {
  border-left-color: #87E696;
}

#passwordMeter.good:before {
  background: #87E696;
  width: 7.6em;
}

.better:focus {
  border-left-color: #55D969;
}

#passwordMeter.better:before {
  background: #55D969;
  width: 11.4em;
}

.strong:focus {
  border-left-color: #3EC753;
}

#passwordMeter.strong:before {
  background: #3EC753;
  width: 15.2em;
}

.military:focus {
  border-color: #10AD27;
}

#passwordMeter.military:before {
  background: #10AD27;
  width: 19em;
}

button {
  outline: none;
  -webkit-appearance: none;
  border: none;
  background: transparent;
  color: #bbb;
  font-size: 2.05em;
  padding: 3% 7%;
  cursor: pointer;
  position: absolute;
  right: -6%;
  bottom: 0%;
  -webkit-transition: color .2s;
  -moz-transition: color .2s;
  -o-transition: color .2s;
  transition: color .2s;
}

button:hover, button:focus {
  color: #111;
}

button span {
  display: none;
}

div {
  -webkit-animation: moveDown .3s;
  -moz-animation: moveDown .3s;
  animation: moveDown .3s;
  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}


.form-signup-submit {
    display: inline-block;
    width: auto;
    margin-top: 30px;
    
}

.form-signup-submit input {
  background-color: grey;
  color: white;
  width: 140px !important;
}
